/*.topSpace {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("./topHeader.png");
  background-size: cover;
  background-position: centers;
}

.displayArea {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.inOutDisplay {
  display: flex;
  justify-content:space-between;
 
}

.middleSpace {
  background-color: rgb(240, 199, 149);
  height:50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.plusButton {
  margin-right: 20px;
  width:30px;
  border:0px solid blue;
  border-radius: 5px;
}

.minusButton {
  margin-right: 10px;
  width:30px;
  border: 0px solid red;
  border-radius: 5px;
}

.inputArea {
  display: flex;
  justify-content: space-between;
}

.addAll {
  width:70px;
  height:30px;
  color: white;
  background-color: green;
  border:0px solid green;
  border-radius: 5px;
}

.addAll:hover {
  background-color: yellowgreen;
  color:black;
}

input {
  width: 130px;
}

.bottomSpace {
  background-color: rgb(201, 240, 240);
  display: flex;
  justify-content: center;
  min-height:300px;
}

.listDisplay {
  display: flex;
  justify-content: space-between;
}

.inOutList {
  display:flex;
  align-items: center;
  justify-content: space-between;
  width:200px;
}

h3 {
  text-align: center;
}

footer {
  background-color: rgb(227, 224, 224);
  height:100px;
}

@media (min-width: 550px) {
  .inOutDisplay {
    width:550px;
  }

   .inputArea {
    width:550px;
   }

   .listDisplay {
    width:500px;
   }
}*/